body {
    padding: 0%;
    margin: 20px 80px 20px 80px;
    overflow: hidden;
}

img {
    width: 80%;
    height: 80%;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 800;
    font-size: 80px;
    margin: 0%;
    margin-top: 30px;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-size: 600;
    border-radius: 5px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 70%;
}

.nav_menu {
    text-align: right;
    margin-top: 20px;
}

#hello span {
    color: tomato;
}

.nav_menu a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #3C3C3C;
    padding: 40px;
}

.half_width {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.half_width h1 {
    margin-top: 150px;
}

#hello a {
    color: white;
    background-image: linear-gradient(120deg, #FC7662, #F56160);
    padding: 10px 20px 10px 20px;
}


/* section {
    overflow: scroll;
    margin: 50px;
} */